version: 2.1

orbs:
  dataworks: modular-data/dataworks-orb@0.0.12
  slack: circleci/slack@4.12.5

workflows:
  checkout-build-publish:
    jobs:
    - dataworks/gradle_owasp_check:
        tag: "11.0"
        notify_slack: false
        context:
        - dataworks-common
        cache_key: "dwh-lambdas-build-cache-v13"
    - dataworks/gradle_build_publish:
        tag: "11.0"
        app: datahub-lambdas
        app_artifacts_directory: build/libs/
        bucket_prefix: dataworks-artifact-store
        notify_slack: false
        context:
        - dataworks-common
        cache_key: "dwh-lambdas-build-cache-v13"

  owasp-security:
    triggers:
    - schedule:
        cron: "30 6 * * *" ## Runs everyday at 7.30 AM UK TIME
        filters:
          branches:
            only:
            - main
    jobs:
    - dataworks/gradle_owasp_check:
        notify_slack: false
        channel: dataworks-alerts
        context:
        - dataworks-common
        cache_key: "dwh-lambdas-owasp-build-cache-v8-hmpps-test"
