version: 2.1

orbs:
  dataworks: modular-data/dataworks-orb@0.0.12
  slack: circleci/slack@4.12.5

workflows:
  checkout-build-publish:
    jobs:
    - dataworks/gradle_owasp_check:
        tag: "11.0"
        notify_slack: false
        context:
        - dataworks-common
        cache_key: "dwh-lambdas-build-cache-v9-java11-nowfs"
        pre-steps:
        - run:
            name: Configure Gradle to disable file system watching
            command: |
              mkdir -p ~/.gradle
              echo "org.gradle.vfs.watch=false" >> ~/.gradle/gradle.properties
              echo "org.gradle.caching=false" >> ~/.gradle/gradle.properties
              cat ~/.gradle/gradle.properties
    - dataworks/gradle_build_publish:
        tag: "11.0"
        notify_slack: false
        context:
        - dataworks-common
        cache_key: "dwh-lambdas-build-cache-v9-java11-nowfs"
        pre-steps:
        - run:
            name: Configure Gradle to disable file system watching
            command: |
              mkdir -p ~/.gradle
              echo "org.gradle.vfs.watch=false" >> ~/.gradle/gradle.properties
              echo "org.gradle.caching=false" >> ~/.gradle/gradle.properties
              cat ~/.gradle/gradle.properties

  owasp-security:
    triggers:
    - schedule:
        cron: "30 6 * * *" ## Runs everyday at 7.30 AM UK TIME
        filters:
          branches:
            only:
            - main
    jobs:
    - dataworks/gradle_owasp_check:
        tag: "11.0"
        notify_slack: false
        channel: dataworks-alerts
        context:
        - dataworks-common
        cache_key: "dwh-lambdas-owasp-build-cache-v6-java11-nowfs"
        pre-steps:
        - run:
            name: Configure Gradle to disable file system watching
            command: |
              mkdir -p ~/.gradle
              echo "org.gradle.vfs.watch=false" >> ~/.gradle/gradle.properties
              echo "org.gradle.caching=false" >> ~/.gradle/gradle.properties
              cat ~/.gradle/gradle.properties
