version: 2.1

orbs:
  dataworks: modular-data/dataworks-orb@dev:c59a3c65f96182a21332d711a261e1a68b2761eb
  slack: circleci/slack@4.12.5 

workflows:
  checkout-build-publish:
    jobs:
    - dataworks/gradle_owasp_check:
        tag: "17.0"
        notify_slack: false
        context:
        - dataworks-common
        cache_key: "dwh-lambdas-build-cache-v6-java17"
    - dataworks/gradle_build_publish:
        tag: "17.0"
        notify_slack: false
        context:
        - dataworks-common
        build_args: "--no-daemon --refresh-dependencies"
        cache_key: "dwh-lambdas-build-cache-v6-java17"

  owasp-security:
    triggers:
    - schedule:
        cron: "30 6 * * *" ## Runs everyday at 7.30 AM UK TIME
        filters:
          branches:
            only:
            - main
    jobs:
    - dataworks/gradle_owasp_check:
        notify_slack: false
        channel: dataworks-alerts
        context:
        - dataworks-common
        cache_key: "dwh-lambdas-owasp-build-cache-v3-clean"
